{% extends 'html/index.html'%}
{% load static %}
{% block content %}
<div class="flex flex-col lg:mx-40 items-center space-x-2 mx-4">
    <div class="text-center space-y-2 mt-10">
        <h1 class="text-4xl font-bold text-white">Complete Python Mastery</h1>
        <p class="text-xl text-gray-400">Everthing you need to program in python in one <br> course (include 3
            real-world project)</p>
    </div>
    <div class="bg-[#12152A] w-full border px-4 py-6 mt-10 rounded-md border-gray-700">
        <h1 class="text-lg font-bold text-white">COURSE OVERVIEW
            <div class="w-20 h-[5px] mt-3 mb-8 bg-gradient-to-r from-rose-600  to-purple-600"></div>
        </h1>
        <ul class="space-y-4">
            <li class="text-gray-400 flex space-x-2"><img src="{% static 'icons/bar-chart.png'%}" alt="">
                <p>Beginner to Pro</p>
            </li>
            <li class="text-gray-400 flex space-x-2"><img src="{% static 'icons/bar-chart.png'%}" alt="">
                <p>200 lessons</p>
            </li>
            <li class="text-gray-400 flex space-x-2"><img src="{% static 'icons/bar-chart.png'%}" alt="">
                <p>Hands-on excercises</p>
            </li>
            <li class="text-gray-400 flex space-x-2"><img src="{% static 'icons/bar-chart.png'%}" alt="">
                <p>Learn at your own pace</p>
            </li>
            <li class="text-gray-400 flex space-x-2"><img src="{% static 'icons/bar-chart.png'%}" alt="">
                <p>Cerrtificate of completion</p>
            </li>

        </ul>
    </div>
</div>
{% endblock %}