<nav class="navbar h-16 grid items-center max-w-screen  ">
  <ul class="flex justify-end ">
    <a class="mr-auto ml-3" href="#">
      <li><img src="" alt="" />logo</li>
    </a>
    <a class="pr-8 flex items-center" href="{% url 'index'%}">
      <li>Home</li>
    </a>
    <a class="pr-8 flex items-center" href="{% url 'course-selection'%}">
      <li>Courses</li>
    </a>
    <a class="pr-8 flex items-center" href="{% url 'tutorial'%}">
      <li>Tutorial</li>
    </a>
    <a class="pr-8 flex items-center" href="{% url 'profile'%}">
      <li>Profile</li>
    </a>
  </ul>
</nav>